.btn,
a.btn {
	display: inline-block;

    width: 118px;
	min-height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 1;

	padding-left: 28px;
	padding-right: 28px;
	background-color: #FF6E30;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FDF5FF;
	border-radius: 8px;
	transition: opacity 0.2s ease;
}

.btn:hover,
a.btn:hover {
	opacity: 0.8;
	color: #fff;
}

.btn-big,
a.btn-big {
	width: 130px;
    height: 48px;
    color: #FFFFFF;
}