.newcomer {
    margin-top: 200px;
}

.newcomer-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 427px);
    column-gap: 197px;
}

.newcomer-tools {
    width: 427px;
}

.newcomer-title {
    font-size: 48px;
    line-height: 130%;
    color: rgba(255, 255, 255, 0.9);
}

.newcomer-subtitle {
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.btn-newcomer {
    padding: 16px 40px 15px;
    background: #FF6E30;
    border-radius: 8px;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.newcomer-card-wrapper {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.newcomer-card {
    padding: 28px 21px 22px;
    width: 288px;
    height: 284px;
    margin-bottom: 78px;
}

.newcomer-card:last-child, .newcomer-card:nth-last-child(2)  {
    margin-bottom: 0;
}

.newcomer-lorem {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.55);
}

.newcomer-card-footer {
    margin-top: 30px;
}

.newcomer-visit {
    position: absolute;
    margin-left: 139px;
    margin-top: -42px;
}