.testimonial {
    margin-top: 200px;
}


.testimonial-wrapper {
    margin-left: 188px;
    width: 849px;
    height: 492px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.testimonial-text {
    margin-left: 57px;
    width: 393px;
    height: 180px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.015em;
    color: rgba(255, 255, 255, 0.78);
}

.testimonial-text-cover {
    position: absolute;
    margin-top: -50px;
    margin-left: -50px;
    width: 103px;
    height: 320px;
}

.testimonial-footer {
}